<div class="row no-gutters login-app">
    <div class="col-sm-12 col-md-12 col-lg-2 col-xl-4">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-4 login-padding">
        <div class="container-login">
            <div class="content-login">
                <h2 class="login-header">Đăng nhập vào Chatme</h2>
                <div class="login-body">
                    <div class="row no-gutters">
                        <div class="col-12 login-body-item">
                            <a class="login-body-item-link" href="/login/auth/user">
                                <img class="login-body-item-img" src="https://accounts.fullstack.edu.vn/assets/images/signin/personal-18px.svg" alt=""> Sử dụng tài khoản Người dùng
                            </a>
                        </div>
                        <div class="col-12 login-body-item">
                            <a class="login-body-item-link" href="">
                                <img class="login-body-item-img" src="https://accounts.fullstack.edu.vn/assets/images/signin/google-18px.svg" alt=""> Tiếp tục với Google
                            </a>
                        </div>
                        <div class="col-12 login-body-item">
                            <a class="login-body-item-link" href="">
                                <img class="login-body-item-img" src="https://accounts.fullstack.edu.vn/assets/images/signin/facebook-18px.svg" alt=""> Tiếp tục với Facebook
                            </a>
                        </div>
                    </div>
                </div>
                {{!-- <div class="login-body">
                    <div class="login-body-item">
                        <a class="login-body-item-link" href="/login/auth/user">
                            <img class="login-body-item-img" src="https://accounts.fullstack.edu.vn/assets/images/signin/personal-18px.svg" alt=""> Sử dụng tài khoản Người dùng
                        </a>
                    </div>
                    <div class="login-body-item">
                        <a class="login-body-item-link" href="">
                            <img class="login-body-item-img" src="https://accounts.fullstack.edu.vn/assets/images/signin/google-18px.svg" alt=""> Tiếp tục với Google
                        </a>
                    </div>
                    <div class="login-body-item">
                        <a class="login-body-item-link" href="">
                            <img class="login-body-item-img" src="https://accounts.fullstack.edu.vn/assets/images/signin/facebook-18px.svg" alt=""> Tiếp tục với Facebook
                        </a>
                    </div>
                </div> --}}
                <div class="login-footer">
                    <span class="content-footer">Bạn có tài khoản chưa? <a class="button-register" href="/register">Đăng ký</a> </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-2 col-xl-4"></div>
</div>