<div class="mt-8">
    <form method="post" action="">
        <div class="form-group">
            <label for="search-input">Bạn muốn tìm kiểm gì</label>
            <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp" placeholder="bạn muốn kiếm gì ạ">           
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>